[Desktop Entry]
Encoding=UTF-8
Name=PAI Coin Core
Comment=Connect to the PAI Coin P2P Network
Comment[de]=Verbinde mit dem PAI Coin peer-to-peer Netzwerk
Comment[fr]=PAI Coin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PAI Coin, eşten eşe kriptografik sanal para birimi
Exec=paicoin-qt %u
Terminal=false
Type=Application
Icon=paicoin128
MimeType=x-scheme-handler/paicoin;
Categories=Office;Finance;
